.SankeyAnalysis {
  height: 100%;
  width: 100%;
  box-shadow: none;
  border-left: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);
  .cardBody {
    width: 100%;
    height: calc(100% - 62px);
    box-sizing: border-box;
    overflow: auto;
  }
  .error{
    height: calc(100% - 62px);
    width: 100%;
    box-sizing: border-box;
  }
}
