.Histogram {
  width: 100%;
  height: 100%;
  .histogramBody {
    width: 100%;
    height: calc(100% - 62px);
    box-sizing: border-box;
  }
  .titleImage {
    width: 30px;
    height: 30px;
  }
  .plot {
    width: 100%;
    height: 100%;
  }
}

