.top-view {
    width: 100%;
    height: 50%;
}

.bottom-view {
    width: 100%;
    height: 50%;
    display: flex;
}

.top-vis{
    width: 100%;
    height: 100%;
}

.bottom-vis{
    width: 50%;
    height: 100%;
}

.vis {
    border: 5px solid black;
    width: 100%;
    height: 100%;
}

