.DashboardLayout {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;

  .header{
  }
  .visualizations{
  }
  .dataTable,
  .graphVisualization,
  .tabbedVisualization {
    height: 50%;
  }
}
